@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,800,800i&subset=greek-ext,latin-ext');

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 110%;
}

h1 {
  background-color: rgb(0, 80, 0);
  color: white;
  font-weight: bolder;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

h2 {
  color: rgb(0, 80, 0);
}

a {
  color: rgb(0, 80, 0);
}

#container {
  max-width: 987px;
  margin: 20px auto;
}

.faq-answer {
  border: 2px solid rgb(0, 80, 0);
  padding: 10px 10px;
  margin: 5px;
}

.faq-answer p, .faq-answer h2 {
  margin: 7px 5px;
}

ul#faq-menu {
  display: none;
  list-style-type: none;
}
